@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  color: #ffffff;
  background-color: #444444;
  padding: 15px;
}

main {
  display: flex;
  padding: 25px;
}

.search-bar {
  flex: 3;
  margin-right: 50px;
}

input {
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 5px;
}

.input {
  margin: 15px 0;
}

.input-fields {
  display: flex;
  justify-content: space-between;
}

.input-title {
  font-weight: 700;
  margin: 10px 0;
}

.input-subtitle {
  font-size: 11px;
}

.input-fullsize {
  width: 100%;
}

.input-halfsize {
  width: 45%;
}

.documents {
  display: flex;
  flex-direction: column;
  flex: 7;
}

.document {
  margin: 20px 0;
  border: 1px solid #d2e8b8;
}

.document-item {
  color: #000000;
  background-color: #D2E8BA;
  border: 1px solid #D2E8BA;
  margin: 15px;
}

.document-header {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.document-body {
  background-color: #fff;
  padding: 15px;
}

nav {
  align-self: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.pagination > li {
  border: 2px solid #D2E8BA;
  margin: 5px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #000000;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
}
